.post {
  background-color: white;
  max-width: 500px;
  border: 1px solid lightgrey;
  margin-bottom: 45px;

  &__image {
    width: 100%;
    object-fit: contain;
    border-bottom: 1px solid lightgrey;
  }

  &__text {
    font-weight: normal;
    padding: 20px;
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 20px;
  }

  &__avatar {
    margin-right: 10px;
  }
}
